<script src='javascripts/jquery.min.js'></script>
<script src='javascripts/formPost.js'></script>

<html>
<%= title %>
<%= curr_date %>
<input type='text' id='firstname'></input>
<input type='text' id='lastname'></input>
<button onclick='sendPost()'>Submit</button>
<button onclick='findName()'>Find</button>
<div id='post_data'>
</div>
</html>